@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel



@using (Html.BeginForm("QueryChatGPT", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Upload</h2>

        <input asp-for="Dateiupload" type="file" class="mt-5">

        <button type="submit" class="mt-5 bg-primary text-white">Submit</button>
    </div>



}
<div class="mt-10">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titel</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Documents.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.Documents[i].Titel</td>
                    <td>@Model.Documents[i].Hauptkategorie</td>
                    <td>
                        @Html.ActionLink("View", "Index", "Document", new { id = Model.Documents[i].Id })
                        @Html.ActionLink("Delete", "DeleteDocument", "Home", new { docId = Model.Documents[i].Id })
                    </td>
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Titel</th>
                                    <th scope="col">Beschreibung</th>
                                    <th scope="col">Faelligkeit</th>
                                    <th scope="col">Erledigt</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for (int j = 0; j < @Model.Documents[i].ToDos.Count; j++)
                            {
                                <tr>

                                </tr>
                    }
                                </tbody>
                        </table>
                </tr>
            }
        </tbody>
    </table>
</div>
